---
layout: base.twig
title: Beau Simensen
converters: ["markdown"]
---

# Beau Simensen

Beau Simensen (<a href="https://twitter.com/beausimensen">@beausimensen</a>,
<a href="https://beau.io">beau.io</a>) has been a professional polyglot
programmer since 1998. He owns dflydev (<a href="http://dflydev.com">dflydev.com</a>),
a consulting company, and is co-host of That Podcast
(<a href="https://twitter.com/thatpodcast">@thatpodcast</a>,
<a href="http://thatpodcast.io">thatpodcast.io</a>).

An active open-sourcer, Beau created Sculpin
(<a href="https://sculpin.io">sculpin.io</a>) and helped create Stack PHP
(<a href="http://stackphp.com">stackphp.com</a>). He is also the Sculpin
representative to the PHP Framework Interoperability Group (PHP-FIG).

Beau is a proponent of framework agnostic code. Unglue all the things!

What to see my talks? Visit [beau.io](https://beau.io/talks).

## Social Media

You can find me on Twitter as [@beausimensen](https://twitter.com/beausimensen).
You can find me on Facebook as [simensen](https://www.facebook.com/simensen).


## IRC

I idle in several IRC channels on **irc.freenode.net**. Look for **simensen**
in **#silex-php**, **#symfony**, **#symfony-dev**, **#composer-dev**, **#sculpin**,
**#thatpodcast**, or **#dflydev**.


## Notable Software Projects

 * [Sculpin](http://sculpin.io) &mdash; A PHP Static Site Generator.
