---
layout: base.twig
generator: pagination
pagination:
    max_per_page: 20
use:
    - posts
---
{% block metaTags %}
    <meta name="robots" content="index, follow">

    <!-- Facebook -->
    <meta property="og:title" content="Source Maven (@srcmvn)" />
    <meta property="og:type" content="article" />
    {% if page.social_image %}
        <meta property="og:image" content="{{ site.url }}{{ page.social_image }}" />
    {% elseif page.cover_image %}
        <meta property="og:image" content="{{ site.url }}{{ page.cover_image }}" />
    {% endif %}
    <meta property="og:url" content="{{ site.url }}{{ page.url }}/" />
    <meta property="og:description" content="Code Partition for Beau Simensen" />

    {% if page.social_image %}
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:image:src" content="{{ site.url }}{{ page.social_image }}">
    {% elseif page.cover_image %}
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:image:src" content="{{ site.url }}{{ page.cover_image }}">
    {% else %}
        <meta name="twitter:card" content="summary" />
    {% endif %}
    <meta name="twitter:site" content="@srcmvn" />
    <meta name="twitter:creator" content="@beausimensen" />
    <meta name="twitter:title" content="Source Maven (@srcmvn)" />
    <meta name="twitter:description" content="Code Partition for Beau Simensen (@beausimensen)" />
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
{% endblock %}
{% block content %}
<div class="blog-index">
  {% set index = true %}
  {% for post in page.pagination.items %}
    <article class="indexPost">
        <div class="meta">
            <time datetime="{{ post.date|date('c') }}" pubdate>
                <span class='month'>{{ post.date|date('M') }}</span> <span class='day'>{{ post.date|date('jS') }}</span> <span class='year'>{{ post.date|date('Y') }}</span>
            </time>
            <a href="{{site.url}}{{post.url}}">&infin;</a>
            {% if post.meta.externalLink %}
            <a href="{{post.meta.externalLink}}">&rarr;</a>
            {% endif %}
        </div>
        <h3 class="postTitle">
            {% if post.meta.externalLink %}
                {% if post.blocks.excerpt %}
                    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                    <a href="{{ post.meta.externalLink }}"> &rarr;</a>
                {% else %}
                    <a href="{{ post.meta.externalLink }}">{{ post.title }} &rarr;</a>
                {% endif %}
            {% else %}
                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            {% endif %}
        </h3>
        <div class="entryContent">
            {% if post.blocks.excerpt %}
                {{ post.blocks.excerpt|raw }}
                <p>
                    <a href="{{site.url}}{{post.url}}">Read more</a>
                </p>
            {% else %}
                <p>
                {{ post.blocks.content|raw|striptags|split(' ')|slice(0,50)|join(' ')|raw }} &hellip;
                </p>
                <p>
                    <a href="{{site.url}}{{post.url}}">Read more</a>
                </p>
            {% endif %}
    {% if post.meta.tags %}
    <p class="tags">
    Tags:
    {% for tag in post.meta.tags %}
    <a href="{{ site.url }}/blog/tags/{{ tag }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
    </p>
    {% endif %}
        </div>
    </article>
  {% endfor %}
</div>

{% if page.pagination.previous_page or page.pagination.next_page %}
<div>
{% if page.pagination.previous_page %}<a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Posts</a>{% endif %}<br />
{% if page.pagination.next_page %}<a href="{{ site.url }}{{ page.pagination.next_page.url }}">Older Posts</a>{% endif %}<br />
</div>
{% endif %}
{% endblock %}
